#define IDD_DLG1 1000
#define IDC_EDT_OUTPUT 1001
#define IDC_LST1 1002
#define IDC_BTN1 1003

IDD_DLG1 DIALOGEX 10,10,471,318
CAPTION "Physics Problems"
FONT 12,"Monotype Corsiva",400,255,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_EDT_OUTPUT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_MULTILINE,9,0,441,195,WS_EX_CLIENTEDGE
  CONTROL "",IDC_LST1,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,9,201,339,108,WS_EX_CLIENTEDGE
  CONTROL "View",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,372,201,60,12
END

